 section{
     background-color: black;
     height: 700px;
 }
.box{
    text-align: center;
    color: white;
    background-color: orangered;
    width: 200px;
    height: 200px;
    /* margin: 0 0 0 0; */
    border-radius: 0;
    animation-name: slide;
    position: relative;
    /* animation-timing-function: ease-in-out; */
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: backwards; */
}
.girl{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    /* margin-top: 0; */
    text-align: center;
    color: white;
    background-color: orangered;
    width: 200px;
    height: 200px;
    /* margin: 0 0 0 0; */
    /* border-radius: 0; */
    /* animation-name: slide; */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    transform: rotate(360deg);
    transition-duration: 2s;
}
.man{
    text-align: center;
    color: white;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    animation-name: man;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode:backwards;
}

 /* @keyframes man{
     from {
        transform: rotate(0deg);
     }
     to {
        transform: rotate(360deg);
     }
    
 } */
 @keyframes man {
    0% {
        background-color: skyblue;
        top: 0;
        left: 0;
    }
    25% {
        background-color: blue;
        left: 500px;
        top: 0;
    }
    50% {
        background-color: orangered;
        left:0;
        top: 30px;
    }
    75% {
         background-color: orange;
         left: 0;
         top: 0;
         right: 200px;
    }
    100%  {
         background-color: yellow;
         left: 0;
         top: 50px;
         /* bottom:0; */
    }
}
/* @keyframes slide{
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(190deg);
    }
} */
@keyframes slide {
    0% {
        background-color: skyblue;
        top: 0;
        left: 0;
    }
    25% {
        background-color: blue;
        left: 600px;
        top: 0;
    }
    50% {
        background-color: orangered;
        left:0;
        top: 100px;
    }
    75% {
         background-color: orange;
         left: 0;
         top: 0;
         right: 300px;
    }
    100%  {
         background-color: yellow;
         left: 300px;
         top: 0;

    }
}
.circle{
    text-align: center;
    color: white;
    background-color: orangered;
    width: 200px;
    height: 200px;
    margin-left: 400px;
    border-radius: 200px;
    animation-name: rotate;
    position: relative;
    /* animation-timing-function: ease-in-out; */
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: backwards; */
}
/* @keyframes slide{
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(190deg);
    }
} */
@keyframes rotate {
    0% {
        background-color: blue;
        top: -50px;
        left: 0;
    }
    25% {
        background-color: green;
        left: 0;
        top: 50px;
    }
    50% {
        background-color: yellow;
        left:500px0;
        top: 0;
    }
    75% {
         background-color: hotpink;
         left: 0;
         top: 70px;
    }
    100%  {
         background-color: red;
         left: 700px;
         top: 0;

    }
}.boy{
    margin-top: -400px;
    text-align: center;
    color: white;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: orangered;
    width: 200px;
    height: 200px;
    margin-left: 600px;
    /* border-radius: 200px; */
    animation-name: skew;
    position: relative;
    /* animation-timing-function: ease-in-out; */
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: backwards; */
}
/* @keyframes slide{
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(190deg);
    }
} */
@keyframes skew {
    0% {
        background-color: red;
        top: 0;
        left: 0;
    }
    25% {
        background-color: yellow;
        right: 0;
        top: -30px;
        left: 0;
    }
    50% {
        background-color: green;
        left: 200px;
        top: 0;
    }
    75% {
         background-color: orangered;
         left: 0;
         top: 50px;
    }
    100%  {
         background-color: orchid;
         left: 20px;
         top: 0;

    }
}